html, body {
  height: 100%; }

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .page.moving {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease; }
  .page.moving.rolledup {
    top: -2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease; }

.pull-down {
  position: absolute;
  bottom: 0; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.scroll-x, .scroll-y {
  -webkit-overflow-scrolling: touch; }

.flx-h, .flx-v {
  display: flex;
  flex-wrap: nowrap; }

.flx-h {
  flex-direction: row; }

.flx-v {
  flex-direction: column; }

.flx-strech {
  flex-grow: 1;
  flex-shrink: 1; }

.flx-nostrech {
  flex-grow: 0;
  flex-shrink: 0; }

#login-form-container {
  width: 350px;
  margin-top: 50px;
  position: relative; }

#login-logo {
  font-size: 60px;
  margin: 10px auto;
  display: block;
  width: 65px; }

.page {
  background: #fafafa; }

#side-bar {
  background: #4d4d4d;
  width: 200px;
  position: relative;
  height: 100%;
  box-shadow: -5px 0 20px -10px inset; }
  #side-bar .title {
    height: 70px;
    padding: 15px 20px; }
    #side-bar .title h2 {
      color: #e6e6e6;
      display: block;
      margin: 0; }

.popover {
  padding: 0; }
  .popover.bottom .arrow:after {
    border-bottom-color: #f7f7f7 !important; }
  .popover .popover-title {
    padding: 4px 7px; }
  .popover .popover-content {
    padding: 4px 7px; }
    .popover .popover-content dl {
      margin: 0;
      padding: 0; }

#tree-navigation {
  padding: 25px 20px;
  width: 250px;
  scroll: auto;
  background: #f1f1f1;
  border-right: 1px solid #d2d2d2;
  overflow: hidden; }
  #tree-navigation ul.tree, #tree-navigation ul.tree ul {
    list-style-type: none;
    background: url(images/vline.png) repeat-y;
    margin: 0;
    padding: 0; }
  #tree-navigation ul.tree ul {
    margin-left: 10px; }
  #tree-navigation ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(images/node.png) no-repeat; }
  #tree-navigation ul.tree li:last-child {
    background: #f1f1f1 url(images/lastnode.png) no-repeat; }
  #tree-navigation li.new-node {
    display: none; }
  #tree-navigation li.new-node.selected {
    display: block; }
  #tree-navigation h3, #tree-navigation strong {
    cursor: pointer; }
    #tree-navigation h3.selected, #tree-navigation strong.selected {
      color: #00ce9b; }
  #tree-navigation h3 {
    margin: 0 0 5px 0;
    font-weight: bold; }

#object-viewer {
  margin: 25px 15px; }
  #object-viewer h4 {
    margin: 0 0 5px 0;
    display: inline-block; }
  #object-viewer .small-grey {
    font-size: 0.8em;
    color: #757575; }
  #object-viewer .black {
    color: black; }
  #object-viewer .edit-options {
    cursor: pointer; }
  #object-viewer .nav > li > a {
    padding: 5px 7px;
    color: #00ce9b;
    background: #fafafa;
    border-bottom: 1px solid #DDD; }
  #object-viewer .nav > li.active > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0); }
  #object-viewer .tab-content {
    padding: 10px 20px; }
    #object-viewer .tab-content textarea {
      min-height: 200px;
      width: 100%;
      resize: vertical; }

ul.nav-list {
  width: 100%;
  margin: 0;
  padding: 0; }
  ul.nav-list li {
    padding-left: 20px;
    list-style: none; }
    ul.nav-list li input[type='email'] {
      margin: 5px 0;
      height: 25px;
      padding: 2px;
      width: 95%; }
    ul.nav-list li a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block; }
  ul.nav-list li, ul.nav-list li > a {
    line-height: 2.5em;
    font-size: 14px;
    font-weight: bold;
    color: #d2d2d2;
    text-decoration: none; }
  ul.nav-list li > span.glyphicon {
    margin-right: 10px;
    line-height: 2em; }
  ul.nav-list li.selected, ul.nav-list li:hover:not(.no-select) {
    color: #00ce9b;
    border-right: 5px solid #00ce9b; }
    ul.nav-list li.selected a, ul.nav-list li:hover:not(.no-select) a {
      color: #00ce9b; }
  ul.nav-list li.nav-label {
    color: #757575;
    background: #363636;
    text-transform: uppercase; }
  ul.nav-list.nav-list-vertical {
    text-align: center; }
    ul.nav-list.nav-list-vertical li {
      padding: 0 0.75em;
      display: inline; }
      ul.nav-list.nav-list-vertical li:hover {
        border-right: 0; }
      ul.nav-list.nav-list-vertical li a {
        display: inline; }

dl.acl-list {
  color: #4d4d4d; }
  dl.acl-list dt {
    font-size: 13px; }
  dl.acl-list dd {
    margin-bottom: 5px; }
    dl.acl-list dd table {
      margin: 0;
      width: 100%; }
      dl.acl-list dd table tr {
        font-size: 0.8em; }
        dl.acl-list dd table tr td, dl.acl-list dd table tr th {
          padding: 4px;
          text-align: right; }
          dl.acl-list dd table tr td *, dl.acl-list dd table tr th * {
            vertical-align: middle; }
          dl.acl-list dd table tr td input[type='checkbox'], dl.acl-list dd table tr th input[type='checkbox'] {
            margin-top: 0; }
        dl.acl-list dd table tr th {
          text-align: left;
          color: #757575; }

dl.subscriptions-list {
  color: #4d4d4d; }
  dl.subscriptions-list dt {
    font-size: 13px; }
  dl.subscriptions-list dd {
    margin-bottom: 5px;
    font-size: 0.8em; }
    dl.subscriptions-list dd label {
      color: #757575; }
    dl.subscriptions-list dd input[type='number'] {
      width: 3em;
      height: 2em; }

.popover-content input[type='email'], .popover-content input[type='number'] {
  padding: 2px 4px; }
.popover-content button.close {
  font-size: 15px; }

.system-notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9001; }
  .system-notifications .notification {
    position: relative;
    display: block;
    margin: 5px;
    border-radius: 3px;
    background-color: #fafafa;
    box-shadow: 0 0 8px -1px;
    width: 150px; }
    .system-notifications .notification .notification-head {
      padding: 5px 5px 2px 5px;
      font-size: 12px;
      font-weight: bold;
      color: #4d4d4d;
      border-bottom: 1px solid #d2d2d2; }
      .system-notifications .notification .notification-head button.close {
        font-size: 16px; }
      .system-notifications .notification .notification-head.notification-success {
        color: green; }
      .system-notifications .notification .notification-head.notification-warn {
        color: #f59300; }
      .system-notifications .notification .notification-head.notification-error {
        color: #e22006; }
    .system-notifications .notification .notification-body {
      padding: 5px;
      width: 100%;
      font-size: 11px;
      font-weight: bold;
      color: #757575;
      text-align: center; }
