$explorer-sidebar-width: 200px;
$explorer-head-height: 70px;
$explorer-column-width: 350px;

$gray0: #fafafa;
$gray1: #f1f1f1;
$gray2: #e6e6e6;
$gray3: #d2d2d2;
$gray4: #757575;
$gray5: #696969;
$gray6: #4d4d4d;
$gray7: #3b3b3b;
$gray8: #363636;

$sidebar-gray: $gray6;
$sidebar-seleced-gray: $gray7;
$border-gray: $gray3;

$petrol0: #e3f1ed;
$petrol1: #b7dbd1;
$petrol2: #00ce9b;

$blue: #4797f1;

$background0: #78aeb0;
$background1: #d8bd9c;
