@import "compass/css3/box";

html, body {
  height: 100%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.moving {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  }
  &.moving.rolledup {
  top: -2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  }
}

.pull-down {
  position: absolute;
  bottom: 0;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x, .scroll-y {
  -webkit-overflow-scrolling: touch
}

.flx-h, .flx-v {
  display: flex;
  flex-wrap: nowrap;
}

.flx-h {
  flex-direction: row;
}

.flx-v {
  flex-direction: column;
}

.flx-strech {
  flex-grow: 1;
  flex-shrink: 1;
}

.flx-nostrech {
  flex-grow: 0;
  flex-shrink: 0;
}
