.node {
  border-right: 5px solid $border-gray;
  margin: 5px 8px;
  background: $gray0;
  border-radius: 3px;
  overflow: hidden;

  &.selected {
      border-right: 5px solid $petrol2;
  }

  .edit-options > * {
    opacity: 0;
    transition: all 0.3s ease;
    color: $gray7;
    pointer-events: auto;

    &.selected {
      opacity: 1 !important;
      color: $petrol2;
      transition: all 0.3s ease;
    }
  }
  &:hover .edit-options > * {
    opacity: 1;
    transition: all 0.3s ease;
  }

  .time {
    font-size: 9px;
    font-weight: bold;
    color: $gray5;
  }

  textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid $border-gray;
    margin-bottom: 4px;
    pointer-events: auto;
  }
  &.dragover {
    border-right: 5px solid $petrol1;
    .node-head {
      border-top: 2px dashed $petrol1;
      border-left: 2px dashed $petrol1;
    }
    .node-body {
      border-bottom: 2px dashed $petrol1;
      border-left: 2px dashed $petrol1;
    }
  }
  * {
    pointer-events: none;
  }
  button {
    pointer-events: auto;
  }
  input {
    pointer-events: auto;
  }
}
.node-head {
  padding: 5px;
  background: $gray2;
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  border-left: 1px solid $border-gray;
}
.node-body {
  padding: 5px;
  border-bottom: 1px solid $border-gray;
  border-left: 1px solid $border-gray;

  .edit-buttons button {
    pointer-events: auto;
  }
}
