@import "config";
@import "layout";
@import "loginform";
@import "node";
@import "compass/css3/images";

.page {
  background: $gray0;
}

#side-bar {
  background: $sidebar-gray;
  width: $explorer-sidebar-width;
  position: relative;
  height: 100%;

  .title {
    height: 70px;
    padding: 15px 20px;
    h2 {
      color: $gray2;
      display: block;
      margin: 0;
    }
  }
}
#explorer-container {
  @include background(linear-gradient($background0, $background1));
}
#explorer-head {
  border-bottom: 1px solid $border-gray;
  padding: 24px;
  height: $explorer-head-height + 1px;
  background: $gray0;
  h3 {
    display: inline;
    font-weight: bold;
  }
  & > * {
    margin-right: 7px;
    vertical-align: middle
  }
}
#explorer-body {
  background: $gray1;
  overflow-y: hidden;
}

#explorer-head h2 {
  margin: 5px;
}
.node-list {
  width: $explorer-column-width;
}

.popover {
  padding: 0;
  &.bottom .arrow:after {
    border-bottom-color: #f7f7f7 !important;
  }
  .popover-title {
    padding: 4px 7px;
  }
  .popover-content {
    padding: 4px 7px;
    dl {
      margin: 0;
      padding: 0;
    }
  }
}

ul.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    padding-left: 20px;
    list-style: none;

    input[type='email'] {
      margin: 5px 0;
      height: 25px;
      padding: 2px;
      width: 95%;
    }
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }
  li, li > a {
    line-height: 2.5em;
    font-size: 14px;
    font-weight: bold;
    color: $gray3;
    text-decoration: none;
  }

  li > span.glyphicon {
    margin-right: 10px;
    line-height: 2em;
  }

  li.selected, li:hover:not(.no-select) {
    color: $petrol2;
    border-right: 5px solid $petrol2;
    a {
      color: $petrol2;
    }
  }

  li.nav-label {
    color: $gray4;
    background: $gray8;
    text-transform: uppercase;
  }

  &.nav-list-vertical {
    text-align: center;
    li {
      padding: 0 0.75em;
      display: inline;
      &:hover {
        border-right: 0;
      }
      a {
        display: inline;
      }
    }
  }
}

dl.acl-list {
  color: $gray6;
  dt {
    font-size: 13px;
  }
  dd {
    margin-bottom: 5px;
    table {
      margin: 0;
      width: 100%;
      tr {
        font-size: 0.8em;
        td, th {
          padding: 4px;
          text-align: right;
          * {
            vertical-align: middle;
          }
          input[type='checkbox'] {
            margin-top: 0;
          }
        }
        th {
          text-align: left;
          color: $gray4;
          //font-weight: bold;
        }
      }
    }
  }
}

dl.subscriptions-list {
  color: $gray6;
  dt {
    font-size: 13px;
  }
  dd {
    margin-bottom: 5px;
    font-size: 0.8em;
    label {
      color: $gray4;
    }
    input[type='number'] {
      width: 3em;
      height: 2em;
    }
  }
}
.popover-content {
  input[type='email'], input[type='number'] {
    padding: 2px 4px;
  }
  button.close {
    font-size: 15px;
  }
}
.inset-rounded {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px -1px;
  overflow: hidden;
}
.system-notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9001;

  .notification {
    position: relative;
    display:block;
    margin: 5px;
    border-radius: 3px;
    background-color: $gray0;
    box-shadow: 0 0 8px -1px;
    width: 150px;

    .notification-head {
      padding: 5px 5px 2px 5px;
      font-size: 12px;
      font-weight: bold;
      color: $gray6;
      border-bottom: 1px solid $border-gray;

      button.close {
        font-size: 16px;
      }
      &.notification-success {
        color: $notification-green;
      }
      &.notification-warn {
        color: $notification-yellow;
      }
      &.notification-error {
        color: $notification-red;
      }
    }
    .notification-body {
      padding: 5px;
      width: 100%;
      font-size: 11px;
      font-weight: bold;
      color: $gray4;
      text-align: center;
    }
  }
}
