@import "config";
@import "layout";
@import "loginform";
@import "compass/css3/images";

.page {
  background: $gray0;
}

#side-bar {
  background: $sidebar-gray;
  width: $explorer-sidebar-width;
  position: relative;
  height: 100%;
  box-shadow: -5px 0 20px -10px inset;

  .title {
    height: 70px;
    padding: 15px 20px;
    h2 {
      color: $gray2;
      display: block;
      margin: 0;
    }
  }
}

.popover {
  padding: 0;
  &.bottom .arrow:after {
    border-bottom-color: #f7f7f7 !important;
  }
  .popover-title {
    padding: 4px 7px;
  }
  .popover-content {
    padding: 4px 7px;
    dl {
      margin: 0;
      padding: 0;
    }
  }
}

#tree-navigation {
  padding: 25px 20px;
  width: 250px;
  scroll: auto;
  background: $gray1;
  border-right: 1px solid $border-gray;
  overflow: hidden;

  ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(images/vline.png) repeat-y;
    margin: 0; padding: 0;
  }
  ul.tree ul {
    margin-left: 10px;
  }
  ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(images/node.png) no-repeat;
  }
  ul.tree li:last-child {
    background: $gray1 url(images/lastnode.png) no-repeat;
  }

  li.new-node {
    display: none;
  }
  li.new-node.selected {
    display: block;
  }

  h3, strong {
    cursor: pointer;
    &.selected {
      color: $petrol2;
    }
  }

  h3 {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
}

#object-viewer {
  margin: 25px 15px;

  h4 {
    margin: 0 0 5px 0;
    display: inline-block;
  }

  .small-grey {
    font-size: 0.8em;
    color: $gray4;
  }

  .black {
    color: black;
  }

  .edit-options {
    cursor: pointer;
  }

  .nav > li > a {
    padding: 5px 7px;
    color: $petrol2;
    background: $gray0;
    border-bottom: 1px solid #DDD;
  }
  .nav > li.active > a {
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  .tab-content {
    padding: 10px 20px;

    textarea {
      min-height: 200px;
      width: 100%;
      resize: vertical;
    }
  }
}

ul.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    padding-left: 20px;
    list-style: none;

    input[type='email'] {
      margin: 5px 0;
      height: 25px;
      padding: 2px;
      width: 95%;
    }
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }
  li, li > a {
    line-height: 2.5em;
    font-size: 14px;
    font-weight: bold;
    color: $gray3;
    text-decoration: none;
  }

  li > span.glyphicon {
    margin-right: 10px;
    line-height: 2em;
  }

  li.selected, li:hover:not(.no-select) {
    color: $petrol2;
    border-right: 5px solid $petrol2;
    a {
      color: $petrol2;
    }
  }

  li.nav-label {
    color: $gray4;
    background: $gray8;
    text-transform: uppercase;
  }

  &.nav-list-vertical {
    text-align: center;
    li {
      padding: 0 0.75em;
      display: inline;
      &:hover {
        border-right: 0;
      }
      a {
        display: inline;
      }
    }
  }
}

dl.acl-list {
  color: $gray6;
  dt {
    font-size: 13px;
  }
  dd {
    margin-bottom: 5px;
    table {
      margin: 0;
      width: 100%;
      tr {
        font-size: 0.8em;
        td, th {
          padding: 4px;
          text-align: right;
          * {
            vertical-align: middle;
          }
          input[type='checkbox'] {
            margin-top: 0;
          }
        }
        th {
          text-align: left;
          color: $gray4;
          //font-weight: bold;
        }
      }
    }
  }
}

dl.subscriptions-list {
  color: $gray6;
  dt {
    font-size: 13px;
  }
  dd {
    margin-bottom: 5px;
    font-size: 0.8em;
    label {
      color: $gray4;
    }
    input[type='number'] {
      width: 3em;
      height: 2em;
    }
  }
}
.popover-content {
  input[type='email'], input[type='number'] {
    padding: 2px 4px;
  }
  button.close {
    font-size: 15px;
  }
}

.system-notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9001;

  .notification {
    position: relative;
    display:block;
    margin: 5px;
    border-radius: 3px;
    background-color: $gray0;
    box-shadow: 0 0 8px -1px;
    width: 150px;

    .notification-head {
      padding: 5px 5px 2px 5px;
      font-size: 12px;
      font-weight: bold;
      color: $gray6;
      border-bottom: 1px solid $border-gray;

      button.close {
        font-size: 16px;
      }
      &.notification-success {
        color: $notification-green;
      }
      &.notification-warn {
        color: $notification-yellow;
      }
      &.notification-error {
        color: $notification-red;
      }
    }
    .notification-body {
      padding: 5px;
      width: 100%;
      font-size: 11px;
      font-weight: bold;
      color: $gray4;
      text-align: center;
    }
  }
}
