<table>
  <tr>
    <th>Content</th>
    <td>read&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: dataRead }' /></td>
    <td>write&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: dataWrite }' /></td>
  </tr>
  <tr>
    <th>Access control</th>
    <td>read&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: aclRead }' /></td>
    <td>write&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: aclWrite }' /></td>
  </tr>
  <tr>
    <th>Subscriptions</th>
    <td>read&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: subscriptionsRead }' /></td>
    <td>write&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: subscriptionsWrite }' /></td>
  </tr>
  <tr>
    <th>Attachment</th>
    <td>read&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: attachmentRead }' /></td>
    <td>write&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: attachmentWrite }' /></td>
  </tr>
  <tr>
    <th>Child nodes</th>
    <td>read&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: childrenRead }' /></td>
    <td>write&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: childrenWrite }' /></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
    <td>delete&nbsp;<input type='checkbox' data-bind='3-state-checkbox: { states: ["yes", "no", "inherit"], target: childrenDelete }' /></td>
  </tr>
</table>

