  <div class='node-list flx-v scroll-y flx-nostrech' data-bind='with: children'>
    <!-- ko foreach: all -->
      <div class='node flx-nostrech' data-bind='click: $parent.select.bind($parent), css: { selected: $parent.selectedNode() === $data }, drop: { callback: uploadAttachment.bind($data), removeClass: "dragover" }, dragenter: { addClass: "dragover", preventDefault: true }, dragleave: { removeClass: "dragover", preventDefault: true }, dragover: { preventDefault: true }'>
        <div class='node-head' data-bind='on: { emitter: $data, event: "updated", pulse: { backgroundColor: "#b7dbd1" } }'>
          <span class='glyphicon glyphicon-paperclip' data-bind='visible: attachment'></span>
          <small data-bind='text: owner'></small>
          <span class='edit-options pull-right'>
            <span class='glyphicon glyphicon-refresh' data-bind='click: load.bind($data)'></span>
            <!-- ko template: 'acl-button' -->
            <!-- /ko -->
            <!-- ko template: 'subscriptions-button' -->
            <!-- /ko -->
            <span class='glyphicon glyphicon-pencil' data-bind='click: startEdit'></span>
            <span class='glyphicon glyphicon-trash' data-bind='click: trash'></span>
            <span class='glyphicon glyphicon-cloud-download' data-bind='visible: attachment, click: downloadAttachment'></span>
          </span>
          <br />
          <span class='time'>created <span data-bind='prettyTime: btime'></span></span>
          <span class='time' data-bind='visible: isModified'>:: modified <span data-bind='prettyTime: mtime'></span></span>
        </div>
        <div class='node-body'>
          <span data-bind='visible: ! editing(), text: bodyString'></span>
          <textarea data-bind='visible: editing, value: editingContent'></textarea>
          <div class='btn-group pull-right edit-buttons' data-bind='visible: editing'>
            <button type='button' class='btn btn-default btn-xs' data-bind='click: cancleEdit'><span class='glyphicon glyphicon-remove-sign'></span></button>
            <button type='button' class='btn btn-default btn-xs' data-bind='click: commitEdit'><span class='glyphicon glyphicon-ok-sign'></span></button>
          </div>
          <span class='clearfix'></span>
        </div>
      </div>
    <!-- /ko -->
    <div class='node flx-nostrech'>
      <div class='node-head'>
        <small>Add content</small>
        <input type='text' class='input-sm' data-bind='value: newNodeName' placeholder="node-name" />
        <button type='button' class='btn btn-default btn-xs pull-right' data-bind='click: addNode'><span class='glyphicon glyphicon-floppy-disk'></span></button>
      </div>
      <div class='node-body'>
        <textarea data-bind='value: newNodeContent'></textarea>
      </div>
    </div>
  </div>
  <!-- ko template: { name: "fosp-object-list", data: children.selectedNode, if: children.selectedNode } -->
  <!-- /ko -->

